body {
   background-color: black;
   font-family: 'Courier New', monospace;
   color: red;
   text-align: center;
}

h1 {
   color: yellow;
}

h2 {
   color: yellow;
}

table {
   text-align: center;
}