body {
   background-image: url("pizzabackground.jpg");
   font-family: 'Courier New', monospace;
   color: red;
   text-align: center;
}

h1 {
   color: yellow;
}

h2 {
   color: yellow;
}

table {
  background-color: black;
  margin-left: auto; 
  margin-right: auto;
}